@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color:white;
}

header {
    background-color: #000000;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 10vh;
    display: flex;
    align-items: center;
}

.container {
    max-width: 1100px;
    margin: 0  auto;

}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menu .logo {
    font-weight: 700;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 10px;
    color:white;
    display: block;
}

.menu .navbar ul li a:hover {
    color:deepskyblue;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label  {
    cursor: pointer;
    display: none;
}

.choose h2 {
    font-size: 25px;
    color: #0e0e0e;
    margin-bottom: 10px;
}

.choose p {
    color: #252525;
    font-size: 20px;
}
.btn-1 {
    display: inline-block;
    background-color:rgb(13, 141, 247);
    border: 1px solid #ffffff;
    margin: 35px 10px 0px 0px;
    padding: 15px 25px;
    color:white;
    border-radius: 25px;
}

.title { 
    padding: 10px 0px;
    text-align: left;
    color:#0e0e0e;
}

.title h2 {
    font-size: 40px;
    color: #000000;
    margin-bottom: 10px;
}

.btn-1:hover {
    background-color:rgb(105, 164, 253);
}
.services {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.services {
    padding: 25px;
    margin: 30px 135px;
    box-shadow: 0px 0px 20px rgba(8, 8, 8, 0.33)
}

.service img {
    margin-top: -50px;

} 

.service h3 {
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;

}
.service p { 
    color: #525254;
    font-size: 16px;
}

.porfolios {
    padding: 80px 0px;
    text-align: center;
    color:#000000;
}
.porfolios h2 {
    font-size: 55px;
}
.porfolio {
    display:flex;
}
.porfolio img {
    width: 350px;
}
.porfolio-1 {
    text-align: left;
    margin-left: 100px;
}

.porfolio-1 h3 {
    font-size: 35px;
    margin-bottom: 15px;
}
.porfolio-1 p {
    font-size: 18px;
    color: #525254;
    margin-bottom: 25px;
}
.porfolio-2 {
    text-align: left;
    margin-right: 100px;
}
.porfolio-2 h3 {
    font-size: 35px;
    margin-bottom: 15px;
}
.porfolio-2 p {
    font-size: 18px;
    color: #525254;
    margin-bottom: 25px;
}
.porfolio-3 {
    text-align: left;
    margin-right: 100px;
}
.porfolio-3 h3 {
    font-size: 35px;
    margin-bottom: 15px;
}
.porfolio-3 p {
    font-size: 18px;
    color: #525254;
    margin-bottom: 25px;
}

.btn-2 {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 25px;
    background-color:rgb(13, 141, 247);
    color:white;
}

.btn-2:hover {
    background-color:rgb(105, 164, 253);
}
.pagos {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.pagos {
    padding: 25px;
    margin: 30px 135px;
    box-shadow: 0px 0px 20px rgba(8, 8, 8, 0.33)
}

.pago img {
    margin-top: -50px;

} 

.pago h3 {
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;

}
.pago p { 
    color: #525254;
    font-size: 16px;
}
